<section class="content">
    <div class="container">
        <div class="center-text">
            <h1>CREAR PRODUCTO</h1>
        </div>
        <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="id">ID</label>
                <input type="text" id="id" formControlName="id" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" class="form-control" />
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input type="number" id="precio" formControlName="precio" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Editar Producto</button>
        </form>
    </div>
</section>
